<% const d = new Date() 
let year = d.getFullYear() %>
<footer>
  <p class="copyright" style="color: black;">&copy; <%= year %>, CSE 340 App</p>
  <p><a href="/inv/trigger-500" style="color: black;">Trigger 500 test</a></p>
</footer>