# Content heading
<main class="classification-page">
    <% if (title) { %>
        <h1>
            <%= title %>
        </h1>
        <% } else { res.redirect('/') } %>

# Message block

<%# messages() %>

# Inventory items display
    <section class="inventory-display">
        <%- grid %>
    </section>

</main> 